body {
    font-size: 1.25rem;
    /* color: red; */
}

.avatar {
    max-width: 100%;
}

footer 
{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: beige;
}

td {
    padding: 10px;
}